	body {
				margin: 0;
				font-family: "Times New Roman", Georgia, Serif;
			}
			.main {
				width: 100vw
			}
			.header {
				text-align: center; 
				color:#666; 
				font-size: 1.5rem
			}
			.banner {
				height: 40vh;
				background-image: url('./background.png');
				background-size: cover;
				background-position: center center;
				text-align: center;
				line-height: 40vh;
			}
			.body {
				width: 80%; margin: 1rem auto
			}
			.block {
				/*inline flex 和flex的区别？？？*/
					/*display:inline-flex;
					flex-direction: column;*/
					width:30%;
					margin: 0 1%
			}
			.view1 {
					font-size: 1.2rem;
					color:#666;
					text-shadow: 2px 2px white;
					text-align: center;
					background-image: url('./paris.jpg');
					background-size: cover;
					background-position: center center;
					line-height: 30vh;
			}

			.view2 {
					font-size: 1.2rem;
					color:#666;
					text-shadow: 2px 2px white;
					text-align: center;
					background-image: url('./venice.jpg');
					background-size: cover;
					background-position: center center;
					line-height: 30vh;
			}

			.view3 {
					font-size: 1.2rem;
					color:#666;
					text-shadow: 2px 2px white;
					text-align: center;
					background-image: url('./prague.jpg');
					background-size: cover;
					background-position: center center;
					line-height: 30vh;
			}
			.content {
					font-size:1rem;
					color:#888;
					text-align: justify;
			}


			/*flex 命令行：
			display: flex;
			display: inline-flex;
			flex-dirction: row;
			flex-dirction: column;

			order:1,-1;
			justify-content: flex-start, flex-end, center,
			 				space-between, space-around;
			 	三个align的区别
			align-items: flex-start, flex-end, center, stretch
							baseline;
			align-content:flex-start, flex-end, center, stretch

			align-self: flex-start, flex-end, center;
			三个flex的用法
			flex-basis: flex-grow:  flex-shrink:
			flex-wrap: wrap;*/




			